<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
   
   
        <div class="header">        
            <h1>SCHEDULE MANAGEMENT SYSTEM</h1>
        </div>

        <div class="card">
            <form method="POST">
                <label for="name"></label>
                <input name="username" type="text" placeholder="Yashwant" />
                <h4><%= context.error %></h4>
                <div class="buttons">
                    <button type="submit" formaction="/api/create" class="btn">New</button>
                    <button type="submit" formaction="/api/auth" class="btn">Login</button>                    
                </div>
            </form>
        </div>
        
    
    
</body>
</html>